# IDE
.idea
.vscode

# Cmake
cmake-build-debug
build-dir

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/
cmake-build-default

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
r-type_client
r-type_server

# Cmake user presets
CMakeUserPresets.json
cmake-build-debug

# ide preset
.vscode/
.idea
.clangd

# VCPKG
CMakeUserPresets.json
build

# Debug
vgcore.*